{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block title %}{% endblock %} - BloggVlogg</title>
  <link rel="stylesheet" href="{% static 'index.css' %}" />
</head>

<body>
  <header>
    <div class="container">
      <div id="brand">
        <h1><a href="/"><span class="highlight">Blogg</span>Vlogg</a></h1>
      </div>
      <nav class="nav">
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="accounts/user_detail"><button title="{{user.username}}">{{user.username}}</button></a>
          </li>
          <li>
            <a href="accounts/logout"><button title="logout">Logout</button></a>
          </li>

          {% else %}
          <li>
            <a href="accounts/login "><button title="login">Login</button></a>
          </li>
          <li>
            <a href="accounts/signup "><button title="Sign Up">Sign Up</button></a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
  {% block content %}

  {% endblock %}

  <footer class="foot">
    <hr />
    <div>
      <h6>CodeTopper &copy; {{ years }}</h6>
    </div>
  </footer>
</body>

</html>