body {
  margin: 0px;
  padding: 0px;
  background: rgb(43, 42, 42);
  font-family: sans-serif;
  overflow: hidden;
  background-size: cover;
  width: auto;
  height: auto;
}
.container > h2 {
  position: fixed;
  left: 100px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.back {
  width: 50px;
  height: 50px;
  background: #5f5c5c;
  border: none;
  box-shadow: 0 5px 10px #333;
  border-radius: 50%;
}
form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 60px 30px;
  font-size: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
form > #login {
  margin-bottom: 20px;
}
#button:hover {
  font-size: 21px;
}
#int {
  margin-bottom: 10px;
  padding: 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #d2cbe4, #5f5c5c);
}
#button {
  margin-bottom: 10px;
  padding: 5px;
  float: right;
  margin-right: 25px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #d2cbe4, #5f5c5c);
}
form p,
form p a,
form a {
  color: white;
  font-size: 12px;
}
form div {
  text-align: center;
  text-transform: capitalize;
}
form > div > button {
  margin-bottom: 10px;
  padding: 5px;
  margin-right: 25px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #d2cbe4, #5f5c5c);
}
#fb,
#fb > a {
  text-align: center;
  text-decoration: none;
  padding: 5px 5px;
  font-size: 15px;
  color: black;
}
#go,
#go > a {
  text-align: center;
  text-decoration: none;
  padding: 5px 5px;
  font-size: 15px;
  color: black;
}

form > div > #fb:hover {
  font-size: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  background: blue;
}
form > div > #go:hover {
  font-size: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  background: darkred;
}
.div {
  display: flex;
  flex-direction: row;
}
.or {
  text-transform: lowercase;
  font-size: 22px;
}
